button,
label,
input,
select {
    display: block;
    margin-bottom: 15px;
}

body {
    font-family: Arial;
    margin: 50px;
    background-color: rgb(113, 230, 230);
}

h1 {
    color: rgb(74, 73, 73);
}

button[id="cargar"] {
    padding: 8px;
    background-color: rgb(179, 71, 71);
    color: white;
    border: none;
    border-radius: 40px;
}

input[type="text"] {
    padding: 6px;
    border: 1px solid black;
    border-radius: 40px;
}

select[id="select"] {
    padding: 8px;
    border-radius: 40px;
}

button:hover {
    opacity: 0.7;
}

button:active {
    transform: scale(0.9);
}

input:focus,
select:focus {
    outline: 2px solid gold;
}

div[data-tarea] {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 40px;
}

div[data-status="hecha"] {
    background-color: beige;
    opacity: 0.7;
    text-decoration: line-through;
}

div[data-prioridad="Alta"] {
    border-left: red;
}

div[data-prioridad="Media"] {
    border-left: rgb(191, 134, 54);
}

div[data-prioridad="Baja"] {
    border-left: rgb(25, 150, 67);
}

button[id="hecha"] {
    padding: 6px;
    background-color: chocolate;
    color: white;
    margin-top: 10px;
}