body {
    background-color: darkkhaki;
    font-family: Arial;
    margin: 20px;
}

h1 {
    text-align: center;
}

div[data-anim] {
    border: 2px solid black;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: wheat;
}

button:hover {
    cursor: pointer;
}

button:active {
    transform: scale(1.1);
}

hr {
    border-top: 3px solid black;
}