body {
    background-color: darkkhaki;
    font-family: Arial;
    margin: 20px;
}

h1 {
    text-align: center;
}

.ganador {
    background-color: #90EE90 !important;
    border-color: green !important;
}

#modal-ganador {
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

}

div[data-anim] {
    border: 2px solid black;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: wheat;
}

button:hover {
    cursor: pointer;
}

button:active {
    transform: scale(1.1);
}

hr {
    border-top: 3px solid black;
}

.modal-contenido {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 15px;
    width: 50%;
    text-align: center;
}

#btn-entendido {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
}